body {
  background-color: #e5f5fe;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.dot:hover {
  cursor: pointer;
}

.upload {
  background-color: #00a3e0;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 0 1%;
}

.loader {
  display: block;
  margin: auto;
  padding: auto;
  text-align: center;
}

#container {
  display: flex;
  width: 80%;
  margin: auto;
}

#container > :first-child {
  margin: auto;
  padding: auto;
  text-align: center;
  width: 50%;
  height: 500px;
  position: relative;
}

#container div:nth-child(2) {
  width: 50%;
  height: 500px;
}

#container div:nth-child(2) > h1 {
  font-size: 3rem;
  padding-top: 15%;
}

#container div:nth-child(2) > h3 {
  padding-top: 3%;
  line-height: 0;
}

#myFile {
  display: none;
  visibility: none;
}

.uploadIcon {
  margin: 1rem;
}

.umbrella {
  width: 70%;
  margin: auto;
  padding-top: 10%;
  z-index: -1;
}

.logo {
  position: absolute;
  text-align: center;
  left: 45%;
  top: 75%;
  right: 50%;
  bottom: 50%;
  width: 5rem;
  height: 1.5rem;
  display: none;
}

.close {
  width: 2rem;
}
